* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

}

/* --------------------------------------------- */
nav {
    /*border: 1px solid blue;*/
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    margin-left: 0.5rem;
}

#nav-right {
    border: 1px solid purple;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-around;
}

#nav-right p {
    border: 1px solid red;
}

/* --------------------------------------------- */
main {
    height: 90%;
    border: 1px solid red;
    justify-content: center;
}

#best_movie {
    border: 1px solid black;
    height: 12rem;
    width: 100%;
}

.categories {
    border: 1px solid black;
    height: 8.5rem;
    width: 100%;
}

.categories h2 {
    /*border: 1px solid black;*/
    margin: 0;
}

.nom_categorie {
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    text-align: center;
}

/* --------------------------------------------- */
.movies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies-images {
    border: 1px solid blue;
    width: 60%;
    height: 7rem;
    margin: 0 2rem;
}

.cadre-img {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    overflow-x: hidden;
}

.cadre-img img {
    width: 12rem;
    height: 100%;
    background-color: blueviolet;
    margin: 0 1px;
}

/* --------------------------------------------- */

.modal-hidden {
    visibility: hidden;
    width: 12rem;
    height: 7rem;
}

.modal-visible {
    transition: 2s;
    display: block;
    width: 15rem;
    height: 15rem;
    background-color: cadetblue;
    opacity: 0.7;
    justify-content: center;
}