.env/
Ressources/
BooksToScrapePages/
._projet_2_script.py
__pycache__
test_projet2.py
Data/
Images/
Old/
Livrables/

projet_2_presentation.pptx
.projet_2_presentation.pptx
._projet_2_presentation.pptx